.footer_container {
	width: 80%;
	margin-left: 200px;
  }
  
  .footer_section1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
  }
  
  .footer_section1 img {
	width: 130px;
  }
  
  .section1__button_container button {
	padding-right: 50px;
	border: 1px solid gray;
	border-radius: 8px;
	cursor: pointer;
  }

  .button-flag-lang{
	min-width: 10rem;
    
    max-width: 100%;
    cursor: pointer;
    position: relative;
    padding: 5px;
    border: 1px solid rgb(181, 181, 181);
  }
  
  .navigation_container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 3rem ;
	font-size: 12px;
  }
  
  .link_container {
	display: flex;
	flex-direction: column;
  }
  
  .link_container h5 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
  }
  
  .link_container_anchors a {
	display: flex;
	flex-direction: column;
	color: gray;
	font-weight: 150;
	padding-top: 5px;	
	font-size: 16px;
	
  }
  
  
  .link_container h5 {
	margin-top: 10px;
	letter-spacing: 1px;
  }
  
  .social_media_logos{
	  margin: 18px 30px;	
  }
  
  .social_media_logos img{
	  width: 80%;
	margin-left: -28px;
  
  }
  
  .disclaimer {
	font-size: 18px;
	color: gray;
	margin-top: auto;
	border-top: 1px solid #c0c0c0;
	padding-top: 20px;
  }
  
  